.card {
	padding: 50px;
	margin: 10px 10px;
	box-shadow: 5px 5px 5px $color-Gris;
	text-align: center;
		img {
			border-radius: 20%;
			&:hover {
				transform: translateY(-1px) scale(1.2);
				transition: 2s;
		}
	}
}